---
import BaseLayout from '@/layouts/base-layout.astro'
import Services from '@/components/sections/services.astro'
---

<BaseLayout
  title="Messie-Hilfe – Messie-Wohnung entrümpeln & reinigen"
  description="Diskrete Messie-Hilfe ohne Bewertung. Unterstützung bei Messie-Wohnungen, Reinigung & Entrümpelung – anonym & bezahlbar. Jetzt unverbindlich anfragen."
>
  <main>
    <Services />
  </main>
</BaseLayout>
