@import 'tailwindcss';
@import '@fontsource/noto-sans/400.css';
@import '@fontsource/noto-sans/600.css';
@import '@fontsource/noto-sans/700.css';

@layer base {
  body {
    color: var(--color-primary);
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-muted);
    opacity: 1;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    outline-offset: 0;
  }

  input[type='checkbox'] {
    accent-color: var(--color-primary);
    cursor: pointer;
  }

  .cta-primary {
    background-color: var(--color-cta-primary);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }

  .cta-primary:hover {
    background-color: var(--color-cta-primary-hover);
  }

  .cta-secondary {
    background-color: var(--color-cta-secondary);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }

  .cta-secondary:hover {
    background-color: var(--color-cta-secondary-hover);
  }

  .cta-tertiary {
    background-color: var(--color-cta-tertiary);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
  }

  .cta-tertiary:hover {
    background-color: var(--color-primary);
    color: white;
  }
}

@theme {
  --color-surface-primary: #fcf4f0;

  --color-surface-secondary: #f9ede4;

  --color-surface-tertiary: #f7ebe4;

  --color-surface-muted: #fbf4f0;

  --color-surface-input: #f2e7df;

  --color-border-primary: #d4baa5;

  --color-border-secondary: #c1a9a1;

  --color-primary: #4a3221;

  --color-muted: #a39186;

  --color-cta-primary: #c49f70;
  --color-cta-primary-hover: #b38f60;

  --color-cta-secondary: #f4e4d3;
  --color-cta-secondary-hover: #e9d4c3;

  --color-cta-tertiary: #fdecc9;

  --color-accent-bronze: #bb853c;

	--color-logo-messie: #463324;

	--color-logo-hilfe: #F4E4D3;

  --color-surface-light-peach: #fef7f5;
  --color-surface-warm-peach: #fdecc9;

  --color-surface-gradient-light: linear-gradient(225deg, #fcecd7, #fdf3f2);
  --color-surface-gradient-warm: linear-gradient(225deg, ##fce8cf, #fcedda);

  --color-shadow-subtle: rgba(99, 99, 99, 0.2);
  --color-shadow-warm: #f5dcae;
}
