---
import { Play } from '@/components/icons'
---

<div class="cta-block mt-8 text-center">
  <div class="font-semibold text-sm sm:text-lg">
    Transparente Kosten, klare Abläufe - ohne Überraschungen.
  </div>
  <a
    href="/anfrage/"
    data-cta="hero-offer-mobile"
    class="cta-secondary inline-flex items-center justify-center gap-2 text-xs sm:text-base border border-cta-border rounded-lg sm:rounded-xl px-4 py-1 sm:py-2 my-3"
  >
    <span>Kostenloses Angebot anfordern</span>
    <Play class="hidden md:block" size="lg" aria-hidden={true} />
    <Play class="md:hidden" size="sm" aria-hidden={true} />
  </a>
  <div class="font-semibold text-xs sm:text-base">
    Wir melden uns diskret bei Ihnen.
  </div>
</div>
