---
import BaseLayout from '@/layouts/base-layout.astro'
import Hero from '@/components/sections/hero.astro'
import Start from '@/components/sections/start.astro';
import AnonymFormOverlay from '@/components/anonym-form-overlay.astro'
import FloatingActionIcons from '@/components/floating-action-icons.astro'
import Services from '@/components/sections/services.astro';
---

<BaseLayout
  title="Messie-Hilfe – Messie-Wohnung entrümpeln & reinigen"
  description="Diskrete Messie-Hilfe ohne Bewertung. Unterstützung bei Messie-Wohnungen, Reinigung & Entrümpelung – anonym & bezahlbar. Jetzt unverbindlich anfragen."
>
  <main>
    <Hero />
    <Start />
    <Services />
  </main>

  <AnonymFormOverlay />
  <FloatingActionIcons />
</BaseLayout>
